//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 01 21 14:14:04 2024

IO_LOC "ws2812_out" 27;
IO_PORT "ws2812_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rst_n_in" 4;
IO_PORT "rst_n_in" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_in" 52;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
